<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CidadeNovo</servlet-name>
        <servlet-class>br.com.curso.controller.cidade.CidadeNovo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CidadeCarregar</servlet-name>
        <servlet-class>br.com.curso.controller.cidade.CidadeCarregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CidadeListar</servlet-name>
        <servlet-class>br.com.curso.controller.cidade.CidadeListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CidadeCadastrar</servlet-name>
        <servlet-class>br.com.curso.controller.cidade.CidadeCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CidadeExcluir</servlet-name>
        <servlet-class>br.com.curso.controller.cidade.CidadeExcluir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CidadeNovo</servlet-name>
        <url-pattern>/CidadeNovo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CidadeCarregar</servlet-name>
        <url-pattern>/CidadeCarregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CidadeListar</servlet-name>
        <url-pattern>/CidadeListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CidadeCadastrar</servlet-name>
        <url-pattern>/CidadeCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CidadeExcluir</servlet-name>
        <url-pattern>/CidadeExcluir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
